

.inactive {
    display: none !important;
}

#addKlanten {
    display: block;
}

#searchBar {
    width: 250px;
    padding: 10px;
}

#klantenGrid {
    margin-top: 5px;
    background-color: #222222;
    border-radius: 4px;
}

#klantenGrid a {
    text-transform: none;
    color: unset;
}

.klantenInfo {
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    transition: 0.1s background-color;
}

.klantenInfo:hover {
    background-color: #262626;
}

.klantenInfo p {
    margin: 0px;
}


