#toevoegButton {
    padding: 8px;
    background-color: #3db2d4;
    color: white;
    width: fit-content;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
}

#toevoegButton p {
    margin: 0px;
}

#klantenGrid {
    margin-top: 5px;
    background-color: #3db2d4;
    border-radius: 4px;
}

.klantenInfo {
    color: white;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.klantenInfo p {
    margin: 0px;
}

